<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>데이터 주고 받기</title>
        <script type="text/javascript">




             function getData() {
                // 1. 리뷰 목록을 서버에 요청하기
                // 2. 요청 성공 여부 확인하기
                // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
                $.ajax({
                    type: "GET",
                    url: "http://www.khoa.go.kr/oceangrid/grid/api/buObsRecent/search.do?ServiceKey=lOofIbPo/oeXI6OjnfL76A==&ObsCode=TW_0062&ResultType=json",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let timeShow = response["waveOn"]
                            alert(response["msg"]);
                            for (let i = 0; i < timeShow.length; i++) {
                                makeCard(timeShow[i]['record_time']);
                            }
                        } else {
                            alert("리뷰를 받아오지 못했습니다");
                        }
                    }
                })
            }

        </script>
    </head>
    <body>
        <h1>주고받</h1>
        <p></p>
        <p></p>
        <button onclick="getData()">가져오기</button>

    </body>
</html>