/*@media (min-width: 768px ) {*/

/*}*/
body {
    margin: 10px 10%;
}

.header {
    text-align: center;

    /*border-bottom: 1px solid darkgrey;*/
    /*margin-bottom: 50px;*/
}

.logo {
    padding-top: 3px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;


}

/*.nav_btn {*/
/*    border: 0px solid black;*/
/*    background-color: white;*/
/*}*/

/*.nav_btn img {*/
/*    width: 30px;*/
/*    height: auto;*/
/*    !*position: relative;*!*/
/*}*/

.slide_nav {
    /*width: 80vh;*/
    /*margin-bottom: 30px;*/
}

.nav_ul {
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
    padding: 20px 0px;
    /*width: 100vw;*/
    list-style-type: none;
}

.nav_li {
    display: inline-block;

    /*border: 1px solid lightslategrey;*/
    border-radius: 5px;
    background-color: lightgray;

    padding: 0px 15px;

    margin-right: 8px;


}

.nav_li > a {
    font-size: 0.75em;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
}

.wrap_main {
    /*margin: 0vw 20px 0px 20vw;*/
    /*width: 60vw;*/
}

.main_list {
    padding-inline-start: 0px;
    margin: 0px 0px 30px 0px;
    /*width: 64%;*/

}

.sort_tag {
    font-size: 0.625em;
    font-weight: bold;
    color: lightslategrey;
}
/**/




/*//*/
/**/
.main_list li {
    list-style: none;
    border-radius: 8px;
    border: 1px solid lightslategrey;
    text-align: center;
    /*width: 100vw;*/
    line-height: 50px;
    margin-bottom: 15px;
    background-color: cornflowerblue;
    color: white;
}
.scaleBox {
    list-style: none;
    border-radius: 8px;
    border: 1px solid lightslategrey;
    text-align: center;
    height: 100vw;
    line-height: 50px;
    margin-bottom: 15px;
    background-color: cornflowerblue;
    color: white;
}

.main_list li a {
    display: inline-block;
    line-height: 30px;
    border-radius: 8px;
    /*width: 60vh;*/
    color: white;
    text-decoration: none;
}

.modal_wrap {
    display: none;
    width: 80%;
    height: 300px;
    position: absolute;
    background-color: #fff;
    border-radius: 7px;
    /*top: 0px;*/
    /*left: 85px;*/
    border: 1px solid grey;
    z-index: 2;
}

.black_bg {
    display: none;
    position: absolute;
    content: "";
    width: 1000px;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.modal_close {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: -30px;
    right: -0px;
}

.close_btn {
    display: block;
    /*width: 20px;*/
    /*height: 20px;*/
    overflow: hidden;
    color: #fff;
    background-color: darkgrey;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 3px;
    text-align: center;
}

.modal_header {
    /*background-color: mistyrose;*/
    /*border: 1px solid grey;*/
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Rdata {
    border:1px solid grey;
    /*background-color: red;*/
    width: 200px;
}

.Ldata{
    font-size: 12px;
    color: grey;
}

.modal_middle {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.modal_middle > button {
    /*width: 40px;*/
    height: 20px;
    line-height: 18px;
    /*text-align: start;*/
    background-color: dodgerblue;
    color: #fff;
    border: 1px solid lightsteelblue;
    border-radius: 7px;

}
.data_temp , .data_pres , .data_time , .data_date , .data_name{
     margin: 0px;
}

.data_name {
   font-size: 20px;
}

#dataTime {
    font-weight: bold;
}

.modal_detail {
    width: 100%;
    position: absolute;
    /*background-color: lavender;*/
    top: 50%;
    left: 0;
    margin: 0;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    padding: 20px 16px;
    text-align: start;
    font-size: 15px;

}


.modal_detail dl, dt {
    margin: 0 10px;
    /*line-height: 10px;*/
    padding: 0;
}

.data_img {
    width: 10px;
    height: 10px;
    /*background-color: red;*/
}

.modal_detail dt {
    font-weight: bold;
}

.modal_detail dd {
    margin: 0 20px 0 20px;
}
