<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>웨이브</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript">

        function getDatas() {
            if (document.querySelector('.modal_wrap').style.display = 'block') {
                console.log('확인22');
                showDatas();
                console.log('확인3');
            }
        }

        function onClick() {
            console.log('확인1');
            document.querySelector('.modal_wrap').style.display = 'block';
            console.log('확인2');
            getDatas();

            // document.querySelector('.black_bg').style.display = 'block';
            // document.querySelector('.itemBack1').style.display ='none';


        }

        function offClick() {
            document.querySelector('.modal_wrap').style.display = 'none';
            // document.querySelector('.black_bg').style.display = 'none';
        }

        function showDatas() {
            $.ajax({
                type: "GET",
                url: "http://www.khoa.go.kr/oceangrid/grid/api/buObsRecent/search.do?ServiceKey=lOofIbPo/oeXI6OjnfL76A==&ObsCode=TW_0062&ResultType=json",
                data: {},
                success: function (response) {
                    console.log('확인 데이터 겟 보냄');
                    let obj = JSON.parse(response);
                    // console.log(response);
                    // console.log(typeof response);
                    // console.log(obj)
                    // console.log(typeof obj)
                    let record_time = obj['result']['data']['record_time'];
                    console.log(record_time);
                    let air_temp = obj['result']['data']['air_temp'];
                    let water_temp = obj['result']['data']['water_temp'];
                    let current_dir = obj['result']['data']['current_dir'];
                    let name = obj['result']['meta']['obs_post_name'];
                    console.log(air_temp, water_temp, current_dir, name)
                    let tempHtml = `<p>${record_time}</p>`;
                    $('#itemData').append(tempHtml);
                }
            })
        }

    </script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="header">
    <div class="logo">
        waveOn
    </div>
</div>

<div class="slide_nav">
    <ul class="nav_ul">
        <li class="nav_li"><a href="#1">강원도</a></li>
        <li class="nav_li"><a href="#2">충청남도</a></li>
        <li class="nav_li"><a href="#3">울산</a></li>
        <li class="nav_li"><a href="#4">부산</a></li>
        <li class="nav_li"><a href="#">제주도</a></li>

    </ul>
</div>

<div class="modal_wrap">
    <div class="modal_close"><a class="close_btn" href="#" onclick="offClick()">close</a>
    </div>
    <div id="itemData">
        모달창 내용
    </div>
    <div class="data_wrap">
        <dl class="modal_detail">
            <dt>
                풍향
            </dt>
            <dd>
                풍향1
            </dd>
            <dt>
                풍속
            </dt>
            <dd>
                풍속1
            </dd>
            <dt>
                파고
            </dt>
            <dd>
                파고1
            </dd>
            <dt>
                풍풍
            </dt>
            <dd>
                풍풍1
            </dd>
        </dl>
    </div>

</div>
<div class="wrap_main">
    <ul class="main_list">
        <p id="1" class="sort_tag">강원도</p>
        <li><a href="#" onclick="onClick()">경포대 해수욕장</a>
        </li>
        <li><a href="#" onclick="onClick()">속초 해수욕장</a>
        </li>
        <li><a href="#" onclick="onClick()">낙산 해수욕장</a>
        </li>

    </ul>
    <ul  class="main_list">
        <p id="2" class="sort_tag">충청남도</p>
        <li><a href="#">대천해수욕장</a>
        <li><a href="#">아산만</a>
       </li>

    </ul>
    <ul class="main_list">
        <p id="3" class="sort_tag">울산</p>
        <li><a href="#">나사 해수욕장</a>
        </li>
        <li><a href="#">진하 해수욕장</a>
        </li>
    </ul>
    <ul class="main_list">
        <p id="4" class="sort_tag">부산</p>
        <li><a href="#">해운대 해수욕장</a>
        </li>
        <li><a href="#">송정 해수욕장</a>
        </li>

        <li><a href="#">임랑 해수욕장</a>

        </li>
        <li><a href="#">기 해수욕장</a>

        </li>
        </li>
    </ul>
</div>
</body>
</html>