<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>웨이브</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript">

        //
        function showData2Block(beachCode) {
            console.log('outer if, showData2Block', beachCode);
            console.log(document.querySelector('.modal_wrap').style.display);

            if (document.querySelector('.modal_wrap').style.display == 'block') {
                // if ($('.modal_wrap').css('display') == 'block') {
                console.log('확인22');
                showWaveInfo(beachCode);
                console.log('showData2Block', beachCode);


                console.log('확인3');
            }
        }



        function clickBeachBlock(beachCode) {
            console.log('확인1');
            document.querySelector('.modal_wrap').style.display = 'block';
            document.querySelector('.black_bg').style.display = 'block';

            console.log('확인2');
            showData2Block(beachCode);

            console.log('clickBeachBlock', beachCode);

            let target = event.target;
            console.log("나는",target.parentElement);
            target.parentElement.classList.toggle("scaleBox");
            // document.querySelector('.itemBack1').style.display ='none';
        }

        function closeModal() {
            document.querySelector('.modal_wrap').style.display = 'none';
            document.querySelector('.black_bg').style.display = 'none';
        }

        function emptyElements() {


            let emptyClass = document.getElementsByClassName("empty");
            console.log(emptyClass);
            // emptyClass.innerHTML = "";
            console.log(typeof emptyClass);

            //온클릭 했을 때 포문으로 돌면서 (여러개라서 객체로 줌 ) 비우
            for (let i = 0; i < emptyClass.length; i++) {
                idData = emptyClass[i].id;
                // console.log(idData);

                $(`#${idData}`).empty();
                //emptyClass[i] = "";
                // emptyClass[i].id.innerHTML = "";
            }

        }


        //


        function showWaveInfo(beachCode) {

            console.log('showWaveInfo', beachCode);

            $.ajax({
                type: "GET",
                url: "http://www.khoa.go.kr/oceangrid/grid/api/buObsRecent/search.do?ServiceKey=lOofIbPo/oeXI6OjnfL76A==&ObsCode=" + beachCode + "&ResultType=json",
                data: {},
                success: function (response) {
                    console.log('확인 데이터 겟 보냄');


                    let obj = JSON.parse(response);
                    // 제이슨으로 파싱
                    let record_time = obj['result']['data']['record_time'];
                    console.log(record_time);

                    //이전 데이터 값 다 지우기
                    let air_temp = obj['result']['data']['air_temp'];
                    let water_temp = obj['result']['data']['water_temp'];
                    let wind_speed = obj['result']['data']['wind_speed'];
                    let current_dir = obj['result']['data']['current_dir'];
                    let current_speed = obj['result']['data']['current_speed'];
                    let air_pres = obj['result']['data']['air_pres'];
                    let name = obj['result']['meta']['obs_post_name'];
                    let obs_code = obj['result']['meta']['obs_post_id'];

                    console.log(air_temp, water_temp, current_dir, name)


                    let nameTemp = name;
                    let presTemp = `${air_pres} hPa`;
                    let timeAll = record_time;


                    let timeDate = timeAll.substr(0, 10);
                    let timeTime = timeAll.substr(11, 8);
                    let airTemperTemp = `${air_temp} °C`;
                    let windDirTemp = `${current_dir}`;
                    let windSpeedTemp = `${wind_speed}`;
                    let waveDirTemp = `${current_dir}`;
                    let waveSpeedTemp = `${current_speed}`;

                    // $('#itemData').append(tempHtml);

                    let spliceTime = timeTime.substr(0, 2);
                    let ampm = spliceTime >= 12 ? 'PM' : 'AM';
                    let updateTime = timeTime + ampm;


                    // $('#dataName').empty();
                    emptyElements();
                    $('#dataName').append(nameTemp);
                    $('#datadate').append(timeDate);
                    $('#dataTime').append(updateTime);
                    $('#dataTemp').append(airTemperTemp);
                    $('#dataPres').append(presTemp);
                    $('#dataAirDir').append(windDirTemp);
                    $('#dataAirSpeed').append(windSpeedTemp);
                    $('#dataWaveDir').append(waveDirTemp);
                    $('#dataWaveSpeed').append(waveSpeedTemp);
                    document.getElementsByClassName("refresh")[0].value = obs_code;
                    console.log(document.getElementsByClassName("refresh")[0].value)
                    // chagebg(air_temp);
                    // return obs_code;

                }
            })

        }

        function refresh() {
            let obs = document.getElementsByClassName("refresh")[0].value
            showWaveInfo(obs);
            console.log("리프레쉬 성공!")
        }




        // function chagebg(temperature) {
        //     // api  호출
        //
        //     // background  이미지 바꿔주는 코드
        // }

    </script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="header">
    <div class="logo">
        waveOn
    </div>
</div>
<div class="black_bg ">
</div>

<!--<a class="close_btn" href="#" onclick="emptyElements()"> empty test </a>-->

<div class="slide_nav">
    <ul class="nav_ul">
        <li class="nav_li"><a href="#1">강원도</a></li>
        <li class="nav_li"><a href="#2">충청남도</a></li>
        <li class="nav_li"><a href="#3">울산</a></li>
        <li class="nav_li"><a href="#4">부산</a></li>
        <li class="nav_li"><a href="#">제주도</a></li>

    </ul>
</div>




<div class="modal_wrap">
    <div class="modal_close"><a class="close_btn" href="#" onclick="closeModal()"> X </a>
    </div>
    <div id="itemData" class="modal_header">
        <div class="Rdata">
            <p id="dataName" class="data_name empty">"name"</p>
            <p id="datadate" class="data_date empty">"date"</p>
        </div>
        <div class="Ldata">
            <p class="data_time">업데이트 기준</p>
            <p id="dataTime" class="data_time empty">"time"</p>
        </div>
    </div>
    <div class="modal_middle">
        <div>
            <p id="dataTemp" class="data_temp empty">
                "temp"
            </p>
            <p id="dataPres" class="data_pres empty">
                "hpa"
            </p>
        </div>
        <button class="refresh" value="11" id="refresh" onclick="refresh()">refresh</button>
    </div>
    <div class="data_wrap">

        <dl class="modal_detail">
            <img class="data_img">
            <dt>
                풍향
            </dt>
            <dd id="dataAirDir" class="empty">
                풍향1
            </dd>
            <dt>
                풍속
            </dt>
            <dd id="dataAirSpeed" class="empty">
                풍속1
            </dd>
            <img class="data_img">
            <dt>
                유향
            </dt>
            <dd id="dataWaveDir" class="empty">
                유향1
            </dd>
            <dt>
                유쇽
            </dt>
            <dd id="dataWaveSpeed" class="empty">
                유속1
            </dd>
        </dl>
    </div>
</div>

</div>
<ul class="main_list ">
    <p id="1" class="sort_tag">강원도</p>
    <div class="sample-area sample-class">
    </div>
    <li><a href="#" onclick="clickBeachBlock('TW_0062')">경포대 해수욕장</a>
    </li>
    <li><a href="#" onclick="clickBeachBlock('TW_0093')">속초 해수욕장</a>
    </li>
    <li><a href="#" onclick="clickBeachBlock('TW_0091')">낙산 해수욕장</a>
    </li>

</ul>
<ul class="main_list">
    <p id="2" class="sort_tag">충청남도</p>
    <li><a href="#" onclick="clickBeachBlock('TW_0069')">대천해수욕장</a>
    <li><a href="#" onclick="clickBeachBlock('TW_0071')">아산만</a>
    </li>

</ul>
<ul class="main_list">
    <p id="3" class="sort_tag">울산</p>
    <li><a href="#" onclick="clickBeachBlock('HB_0002')">나사 해수욕장</a>
    </li>
    <li><a href="#" onclick="clickBeachBlock('HB_0003')">진하 해수욕장</a>
    </li>
</ul>
<ul class="main_list">
    <p id="4" class="sort_tag">부산</p>
    <li><a href="#" onclick="clickBeachBlock('TW_0062')">해운대 해수욕장</a>
    </li>
    <li><a href="#" onclick="clickBeachBlock('TW_0090')">송정 해수욕장</a>
    </li>

    <li><a href="#" onclick="clickBeachBlock('TW_0092')">임랑 해수욕장</a>

    </li>
    <li><a href="#" onclick="clickBeachBlock('HB_0001')">기장 해수욕장</a>

    </li>
    </li>
</ul>
</div>
</body>
</html>